.header-div {
    font-size: 25px;
    width: 700px;
    margin: auto;
}

.activity-list-div {
    padding: 17px 0 30px 0;
    width: 360px;
    margin: auto;
    text-align: left;
    font-size: 20px;
}

.activity-div {
    padding-bottom: 8px;
}

.pushpin-span {
    margin-right: 8px;
    font-size: 17px;
}

.email-submit-header-div {
    width: 480px;
    font-size: 20px;
    margin: auto;
    line-height: 30px;
}

.email-input-div {
    padding-top: 10px;
    display: flex;
    width: 480px;
    margin: auto;
}

.email-input {
    align-content: stretch;
    width: 100%;
    flex: 2;
    font-size: 17px;
}

.email-submit-button {
    margin-left: 5px;
}

input {
    border: 1px solid #ccc;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	/* -moz-box-shadow: 2px 2px 3px #666;
	-webkit-box-shadow: 2px 2px 3px #666;
	box-shadow: 2px 2px 3px #666; */
	font-size: 17px;
	padding: 4px 7px;
	outline: 0;
	-webkit-appearance: none;
}

input:focus {
    border-color: #339933;
}

button {
    background-color: #413f3d;
    color: white;
    outline: none;
    border: none;
    font-size: 15px;
}

button:hover {
    cursor: pointer;
}

button:disabled {
    background-color: gray;
}

.submit-success-message-div {
    color: #0047AB;
}

.submit-error-message-div {
    color: #b6666f;
}

.submit-process-message-div {
    color: #697184;
}

.submit-success-message-div, .submit-error-message-div, .submit-process-message-div {
    padding-top: 5px;
    font-size: 19px;
}

.check-mark-span {
    margin-right: 5px;
    font-size: 15px;
}

@media only screen and (min-width: 491px) and (max-width: 700px) {
    .header-div {
        width: 480px;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 490px) {
    .title-div {
        padding-top: 150px;
    }

    .header-div {
        width: 300px;
        margin: auto;
        font-size: 21px;
    }

    .email-submit-header-div {
        width: 300px;
        margin: auto;
        font-size: 17px;
        line-height: 25px;
    }

    .email-input-div {
        width: 300px;
        margin: auto;
        font-size: 15px;
    }

    .activity-list-div {
        width: 300px;
        font-size: 17px;
        padding: 10px 0 30px 0;
    }

    .activity-div {
        padding-bottom: 4px;
    }

    button {
        font-size: 13px;
    }

    .submit-success-message-div, .submit-process-message-div, .submit-error-message-div {
        font-size: 17px;
    }

    .check-mark-span {
        font-size: 13px;
    }
}
